/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.row {
  margin-left: 20px;
  color: white;
}

.row_posters {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 1.25rem;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 6.25rem;
  transition: transform 500ms;
  margin-right: 0.625rem;
}

.row_poster:hover {
  transform: scale(1.08);
}

.row_posterLarge {
  max-height: 15.625rem;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}
